body {
  box-sizing: border-box;
}

form {
  width: 70%;
}

header{
  background-color: #CD6155;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

header > * {
  display: inline-block;
  height: 35px;
  text-align: center;
}

header > h1 > i {
  color: #F0F3F4;
  width: 30%;
}

img {
  border-radius: 15px;
  height: 80%;
  position: relative;
  width: 80%;
  left: 10%;
}

input {
  border-style: none;
  border-radius: 10px;
  background-color: #F0F3F4;
  background-repeat: no-repeat;
  background-size: 33px 33px;
  background-image: url("../assets/images/magnifier.png");
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: bold;
  height: 35px;
  width: 65%;
}

main {
  position: relative;
  padding-top: 6em;
  z-index: -1;
}

nav {
    color: gray;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: bold;
    width:22%;
}

nav .explorar {
    background-position: center;
    color: #555555;
    display: inline-block;
    height: 2em;
    padding-top: .7em;
    text-align: center;
    width: 6em;
}

nav .inicio {
  background-position: center;
  color: #555555;
  display: inline-block;
  height: 2em;
  padding-top: .7em;
  text-align: center;
  width: 6em;
}

nav .perfil {
  background-position: center;
  color: #555555;
  display: inline-block;
  height: 2em;
  padding-top: .7em;
  text-align: center;
  width: 6em;
}

section .pin-title {
  color: gray;
  font-weight: bold;
  font-display: block;
  font-family: 'Source Sans Pro',sans-serif;
  padding-left: 10%;
  padding-top: 1%;
  padding-bottom: 9%;
}

.col {
  float: left;
  margin: 1%;
  width: 30%;
}

.explorar:hover {
  border-style: none;
  border-radius: 10px;
  background-color: #F0F3F4;
  color: #555555;
}

.imagen1:hover {
  color: #f0f0f0;
  opacity: .7;
}

.inicio:hover {
  border-style: none;
  border-radius: 10px;
  background-color: #f0f0f0;
  color: #555555;
}

.more {
  padding-left: 70%;
}

.perfil:hover {
  border-style: none;
  border-radius: 10px;
  background-color: #f0f0f0;
  color:  #555555;
}
